body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

section {
    padding: 2rem 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#sobre {
    text-align: center;
    padding: 2rem;  
}

#sobre h2 {
    margin-bottom: 1rem;
}

.texto-sobre {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

.texto-sobre p {
    text-align: justify;
    line-height: 1.6;
    color: #666;
}